[init]
  templateDir = /Users/ScottMiller/.git-template
  defaultBranch = trunk
[core]
  editor = nano
  excludesfile = ~/.gitignore
  trustctime = false
[user]
  email = scott.miller171@gmail.com
  name = Scott Miller
[commit]
  gpgSign = true
[pull]
  rebase = true
[push]
  default = current
  followTags = true
  gpgSign = if-asked
[tag]
  gpgSign = true
[gpg]
  format = ssh
[gpg "ssh"]
  defaultKeyCommand = sh -c 'echo key::$(ssh-add -L)'
[url "https://"]
  insteadOf = ssh://git@
[url "https://github.com/"]
  insteadOf = git@github.com:
  insteadOf = ssh://git@github.com/
[url "https://gitlab.com/"]
  insteadOf = git@gitlab.com:
  insteadOf = ssh://git@gitlab.com/
[alias]
  mr = push -o merge_request.create -o merge_request.target=main -o merge_request.merge_when_pipeline_succeeds -o merge_request.remove_source_branch
  unstage = restore --staged
  oldest-ancestor = !zsh -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-main}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
[credential]
  helper = osxkeychain
[includeIf "gitdir/i:**/apothesource"]
  path = ~/.gitconfig-apothesource
[includeIf "gitdir/i:**/mobilehealth"]
  path = ~/.gitconfig-mobilehealth

